body {
    margin: 0;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}

main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
}

@keyframes fallNed {
    to {
        transform: translateY(0);
    }
}

main div {
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: darkorange;
    transform: translateY(-800px);
    animation-name: fallNed;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}